.git
**/.git
**/.git/**
.gitignore
.venv
venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.env
.env.*
!.env.example
documents/
maigret_mcp_server.egg-info/
scripts/
blackbird/
blackbird/**
logs/
results/
reports/
data/
kafka.test.py
make_resume.py
placeholder.html
